{% extends 'RetoAprenderBundle:admin:layout.html.twig' %}

{% block content %}
<div id="center-column">
    <div class="top-bar">
        <a style="margin-left: 15px;" href="#" class="button">NUEVO </a>
        <h1>Temas</h1>
        <div class="breadcrumbs"><a href="{{ path('reto_aprender_admin') }}">Home</a> / <a href="#">Temas</a></div>
    </div><br /><br />
    <div class="table">
        <img src="{{ asset('admin/img/bg-th-left.gif')}}" width="8" height="7" alt="" class="left" />
        <img src="{{ asset('admin/img/bg-th-right.gif')}}" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
            <tr>
                <th class="first" width="400px">Tema</th>
                <th></th>
                <th class="last"></th>
            </tr>
            {% for entity in entities %}
            <tr {% if loop.index % 2 == 0 %}class="bg"{% endif %}>
                <td class="first style2">- {{ entity }} </td>
                <td><img src="{{ asset('admin/img/edit-icon.gif') }}" width="16" height="16" alt="" /></td>
                <td class="last"><img src="{{ asset('admin/img/hr.gif') }}" width="16" height="16" alt="add" /></td>
            </tr>
            {% endfor %}
        </table>
        <div class="select">
            <strong>Other Pages: </strong>
            <select>
                <option>1</option>
            </select>
        </div>
    </div>
</div>
{% endblock %}

{% block info %}
Esta es la lista de los temas, en un principio solo se cuenta con el tema de Estudios Sociales. Por solo contar con
materiales de este tema no se ha implementado la funcionalidad para ingresar nuevos temas.
{% endblock %}