{% extends 'RetoAprenderBundle:admin:layout.html.twig' %}

{% block content %}
<div id="center-column">
    <div class="top-bar">
        <a href="{{ path('reto_aprender_admin_users_new',{'type': 'regular'} )}}" class="button">NUEVO </a>
        <h1>Usuarios</h1>
        <div class="breadcrumbs"><a href="{{ path('reto_aprender_admin') }}">Home</a> / <a href="{{ path('reto_aprender_admin_users',{'type': 'regular'}) }}">Usuarios</a></div>
    </div><br /><br />
    <div class="table">
        <img src="{{ asset('admin/img/bg-th-left.gif')}}" width="8" height="7" alt="" class="left" />
        <img src="{{ asset('admin/img/bg-th-right.gif')}}" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
            <tr>
                <th class="first">Nombre</th>
                <th>Apellidos</th>
                <th>Username</th>
                <th>Email</th>
                <th>Activo?</th>
                <th>&Uacute;ltimo login</th>
                <th></th>
                <th class="last"></th>
            </tr>
            {% for entity in entities %}
            <tr {% if loop.index % 2 == 0 %}class="bg"{% endif %}>
                <td class="first style2"> {{ entity.firstname }} </td>
                <td class="first style2"> {{ entity.lastname }} </td>
                <td class="first style2"> {{ entity.username }} </td>
                <td class="first style2"> {{ entity.email }} </td>
                <td class="first style2">{% if entity.active %} {{ 'boolean.afirmation.1'|trans }} {% else %} {{ 'boolean.afirmation.0'|trans }} {% endif %}</td>
                <td class="first style2"> {{ entity.lastLogin|date('d-m-Y') }} </td>

                <td><a href="{{ path('reto_aprender_admin_users_edit',{'id': entity.id, 'type': 'regular'} )}}"><img src="{{ asset('admin/img/edit-icon.gif') }}" width="16" height="16" alt="Editar" /></a></td>
                <td class="last">
                    <a href="{{ path('reto_aprender_admin_users_delete',{'type': 'regular', 'id': entity.id} )}}" onclick="return confirm('Esta seguro que desea eliminarlo?');">
                        <img src="{{ asset('admin/img/hr.gif') }}" width="16" height="16" alt="Eliminar" />
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="select">
            <strong>Other Pages: </strong>
            <select>
                <option>1</option>
            </select>
        </div>
    </div>
</div>
{% endblock %}

{% block info %}
Este m&oacute;dulo permite la edici&oacute;n y administraci&oacute;n de los usuarios regulares del sistema.
{% endblock %}