{% extends 'RetoAprenderBundle:admin:layout.html.twig' %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.module = "";
</script>
{% endblock %}

{% block content %}
<div id="center-column">
    <div class="top-bar">
        <h1>Usuarios</h1>
        <div class="breadcrumbs"><a href="{{ path('reto_aprender_admin') }}">Home</a> / <a href="{{ path('reto_aprender_admin_users',{'type': 'regular'}) }}">Usuarios</a> / Nuevo</div>
    </div><br /><br />

    <div class="table">
        <img src="{{ asset("admin/img/bg-th-left.gif") }}" width="8" height="7" alt="" class="left" />
        <img src="{{ asset('admin/img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />

        <form class="customForm" id="createForm" action="{{ path('reto_aprender_admin_users_save',{'type': 'regular'}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            {{ form_widget(form._token) }}

            <table class="listing form" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="full" colspan="3">Nuevo Usuario</th>
                </tr>
                <tr class="bg">
                    <td class="first" width="172"><strong>Nombre</strong></td>
                    <td>{{ form_widget(form.firstname) }}</td>
                    <td class="last">{{ form_errors(form.lastname) }}</td>
                </tr>
                <tr>
                    <td class="first"><strong>Apellidos</strong></td>
                    <td>{{ form_widget(form.lastname) }}</td>
                    <td class="last">{{ form_errors(form.lastname) }}</td>
                </tr>
                <tr>
                    <td class="first"><strong>Username</strong></td>
                    <td>{{ form_widget(form.username) }}</td>
                    <td class="last">{{ form_errors(form.username) }}</td>
                </tr>
                <tr>
                    <td class="first"><strong>Email</strong></td>
                    <td>{{ form_widget(form.email) }}</td>
                    <td class="last">{{ form_errors(form.email) }}</td>
                </tr>
                <tr>
                    <td class="first"><strong>Activo?</strong></td>
                    <td>{{ form_widget(form.active) }}</td>
                    <td class="last">{{ form_errors(form.active) }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="left btn save" name="save"><span></span>Guardar</button>
                    </td>
                </tr>
            </table>
        </form>


        <p>&nbsp;</p>
    </div>
</div>
{% endblock %}

{% block info %}
Los usuarios regulares tendr&aacute;n acceso al sitio general y pueden visualizar los recursos una vez que se conviertan a usuarios PREMIUM.
{% endblock %}