<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Reto Aprender</title>
    <meta name="description" content="" />
    <meta name="author" content="eponce" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" type="text/css" media="screen"/>

    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">


    <!-- jQuery - the core -->
    <script src="{{ asset('js/jquery-1.3.2.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

    <!-- Sliding effect -->
    <script src="{{ asset('js/slideLogin.js') }}" type="text/javascript" charset="utf-8"></script>

    <!-- Scrollable effect -->
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>

    {% block extrajs %}
    {% endblock %}

    {% block extracss %}
    {% endblock %}


    {% include "GoogleBundle:Analytics:async.html.twig" %}
</head>

<body>

<style type="text/css">
    html {
        margin-top: 26px;
    }
</style>

<div class="fixed contain-to-grid">
    <nav class="top-bar">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}


        <div class="info" style="font-size: 18px; width: 800px;">
            <div style="float: left; width: 30px;"><img src="{{ app.request.getBaseURL() ~ "" ~ app.user.getAvatarWebPath() }}" alt="User Avatar" height="25px"></div>
            <div style="width: 200px; float: left;">Bienvenido <a alt="Ver mi cuenta" href="{{ path('reto_aprender_user') }}"><span style="font-size: 18px;" class="username">{{ app.user.username }}</span></a></div>
            <div style="width: 150px; float: left;"><a alt="Ver mi cuenta" href="{{ path('reto_aprender_user') }}">Ver Mi Cuenta</a></div>

            {% if is_granted('ROLE_ADMIN') %}
            <div style="width: 250px; float: left;"><a alt="Ir a sitio Administrativo" href="{{ path('reto_aprender_admin') }}">Ir a sitio Administrativo</a></div>
            {% endif %}
        </div>

        <div class="right">
            <div class="logout"><a href="{{ path("reto_aprender_logout") }}"><span style="font-size: 18px;">Desconectar</span></a></div>
        </div>

{% else %}
        <div class="right">
            <div class="login"><a href="{{ app.request.getBaseURL() }}/login">Entrar al sistema</a></div>
        </div>
{% endif %}
    </nav>
</div>


<header>
    <div class="content cf">
        <div class="logo"><a href="{{ path('reto_aprender_homepage')}}"><img src="{{ asset('images/logo-reto-aprender2.png') }}" alt="logo de reto aprender" /></a></div>
        <div id="flashContent" style="float:left; width: 610px; height:104px">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="610" height="104" id="banner-610x104" align="middle">
                <param name="movie" value="swf/banner-610x104.swf">
                <param name="quality" value="high">
                <param name="bgcolor" value="#ffffff">
                <param name="play" value="true">
                <param name="loop" value="true">
                <param name="wmode" value="transparent">
                <param name="scale" value="showall">
                <param name="menu" value="true">
                <param name="devicefont" value="false">
                <param name="salign" value="">
                <param name="allowScriptAccess" value="sameDomain">
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="{{ asset('flash/banner-610x104.swf') }}" width="610" height="104">
                    <param name="movie" value="swf/banner-610x104.swf">
                    <param name="quality" value="high">
                    <param name="bgcolor" value="#ffffff">
                    <param name="play" value="true">
                    <param name="loop" value="true">
                    <param name="wmode" value="transparent">
                    <param name="scale" value="showall">
                    <param name="menu" value="true">
                    <param name="devicefont" value="false">
                    <param name="salign" value="">
                    <param name="allowScriptAccess" value="sameDomain">
                    <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflash">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtener Adobe Flash Player">
                    </a>
                    <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
        </div>

        <div id="cssmenu">
            <ul >
                <li><a class="itemGreen" href="{{ path('reto_aprender_homepage')}}">{% trans %}reto.aprender.menu.home{% endtrans %}</a></li>
                <li><a class="itemRed" href="{{ path('reto_aprender_news')}}">{% trans %}reto.aprender.menu.news{% endtrans %}</a></li>
                <li class='has-sub '><a class="itemBlue" href="{{ path('reto_aprender_resources')}}">{% trans %}reto.aprender.menu.resources{% endtrans %}</a>
                    <ul>
                        {% for topic in topics() %}
                        <li class='has-sub '><a href="{{ path('reto_aprender_topic', {'id': topic.id} )}}"><span>{{ topic.name }}</span></a>
                            <ul>
                                {% for level in levels(topic.id) %}
                                <li class='has-sub '><a href="{{ path('reto_aprender_level', {'id': level.id} )}}"><span>{{ level.name }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>

                </li>
                <li class='has-sub '><a class="itemYellow" href="{{ path('reto_aprender_about_us',{'o': "idea"} )}}">{% trans %}reto.aprender.menu.about{% endtrans %}</a>
                    <ul>
                        <li class='has-sub '><a href="{{ path('reto_aprender_about_us',{'o': "idea"} )}}"><span>Idea</span></a></li>
                        <li class='has-sub '><a href="{{ path('reto_aprender_about_us',{'o': "mision"} )}}"><span>Misi&oacute;n y Visi&oacute;n</span></a></li>
                        <li class='has-sub '><a href="{{ path('reto_aprender_about_us',{'o': "valores"} )}}"><span>Valores</span></a></li>
                    </ul>
                </li>
                <a class="itemGreen" href="{{ path('reto_aprender_contact')}}"><li>{% trans %}reto.aprender.menu.contact{% endtrans %}</li></a>
            </ul>
        </div>

    </div>
</header><!--End header-->

{% block content %}{% endblock %}

<footer>
    <div class="links"> &copy; Copyright 2012–2013 RetoAprender</div>
    <div class="powered">Powered by <a href="http://www.tecnotekcr.net/" target="_blank" >Tecnotek</a></div>
</footer><!--End footer-->
</body>
</html>