{% extends 'RetoAprenderBundle::layout.html.twig' %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/resources_activities.js') }}"></script>
<script type="text/javascript">
    Tecnotek.module = "showActivity";
    Tecnotek.ShowActivity.maximunSlide = {{ slides_total }};
</script>
{% endblock %}

{% block content %}
<div class="mainContainer">
    <h1>{{ activity.name }}</h1>
    <div class="child cf">
        <p>{{ activity.description }}</p><br/>
        {% if activity.type == 1 %}
        <div style="border: 1px; text-align: center;">
            <object id="objSwf" name="objSwf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="770" height="550"><param name="movie" value="{{ asset("flash/" ~ activity.includeText)}}" />        <param name="quality" value="high" />        <param name="allowFullScreen" value="true" />        	<param name="FlashVars" value="actividad=697661" />        <embed  id="objSwf" name="objSwf" allowFullScreen="true" src="{{ asset("flash/" ~ activity.includeText)}}" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="770" height="550" flashvars="actividad=697661"></embed></object>
        </div>

        {% else %}
            {% if activity.type == 2 %}
            <div id="normalContainer" name="normalContainer">
                <div style="text-align: center; padding-left: 144px; position: relative;">

                    <div style="width: 600px; margin-top: 10px; margin-bottom: 10px;">
                        <div class="button" style="float: right; width: 32px; height: 32px;"> <img src="{{ asset("images/fullscreen_32.png") }}" rel="#mies1"> </div>
                        <div class="clearer"></div>
                    </div>

                    <div id="slideB1_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva1.jpg); display: block;">
                    </div>

                    <div id="slideB2_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva2.jpg); display: none;">
                        <a class="diapButton_s" href="#slideArriba_s" style="position: absolute; left: 275px; top: 140px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideAbajo_s" style="position: absolute; right: 300px; top: 275px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideArriba_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaArriba.jpg); display: none;"></div>
                    <div id="slideAbajo_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAbajo.jpg); display: none;"></div>

                    <div id="slideB3_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva3.jpg); display: none;">
                        <a class="diapButton_s" href="#slideIzquierda_s" style="position: absolute; left: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideDerecha_s" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideIzquierda_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaIzquierda.jpg); display: none;"></div>
                    <div id="slideDerecha_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDerecha.jpg); display: none;"></div>

                    <div id="slideB4_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva4.jpg); display: none;">
                        <a class="diapButton_s" href="#slideGrande_s" style="position: absolute; left: 270px; top: 185px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slidePequenno_s" style="position: absolute; right: 290px; top: 320px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideGrande_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaGrande.jpg); display: none;"></div>
                    <div id="slidePequenno_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaPequenno.jpg); display: none;"></div>

                    <div id="slideB5_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva5.jpg); display: none;">
                        <a class="diapButton_s" href="#slideCerca_s" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideLejos_s" style="position: absolute; left: 172px; top: 360px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideCerca_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaCerca.jpg); display: none;"></div>
                    <div id="slideLejos_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaLejos.jpg); display: none;"></div>

                    <div id="slideB6_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva6.jpg); display: none;">
                        <a class="diapButton_s" href="#slideAlto_s" style="position: absolute; left: 330px; top: 135px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideBajo_s" style="position: absolute; right: 270px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideAlto_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAlto.jpg); display: none;"></div>
                    <div id="slideBajo_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaBajo.jpg); display: none;"></div>

                    <div id="slideB7_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva7.jpg); display: none;">
                        <a class="diapButton_s" href="#slideDelante_s" style="position: absolute; left: 250px; top: 245px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideAtras_s" style="position: absolute; right: 200px; top: 315px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideDelante_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDelante.jpg); display: none;"></div>
                    <div id="slideAtras_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAtras.jpg); display: none;"></div>

                    <div id="slideB8_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva8.jpg); display: none;">
                        <a class="diapButton_s" href="#slideDentro_s" style="position: absolute; left: 245px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideFuera_s" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideDentro_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDentro.jpg); display: none;"></div>
                    <div id="slideFuera_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaFuera.jpg); display: none;"></div>

                    <div id="slideB9_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva9.jpg); display: none;">
                        <a class="diapButton_s" href="#slideAyer_s" style="position: absolute; left: 315px; top: 140px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideHoy_s" style="position: absolute; right: 315px; top: 140px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideMannana_s" style="position: absolute; right: 285px; top: 315px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideAyer_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAyer.jpg); display: none;"></div>
                    <div id="slideHoy_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaHoy.jpg); display: none;"></div>
                    <div id="slideMannana_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaMannana.jpg); display: none;"></div>

                    <div id="slideB10_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva10.jpg); display: none;">
                        <a class="diapButton_s" href="#slideDia_s" style="position: absolute; left: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton_s" href="#slideNoche_s" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideDia_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDia.jpg); display: none;"></div>
                    <div id="slideNoche_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaNoche.jpg); display: none;"></div>

                    <div id="slideB11_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva11.jpg); display: none;">
                    </div>
                    <div id="slideB12_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva12.jpg); display: none;">
                    </div>
                    <div id="slideB13_s" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva13.jpg); display: none;">
                    </div>


                    <div style="width: 600px; margin-top: 10px; margin-bottom: 10px;">
                        <div id="btn-next" style="float:left; width:131px; height:45px; background-image: url('{{ asset("presentation/b1.png") }}')"></div>
                        <div id="btn-before" style="display: none; float: right; width:131px; height:45px; background-image: url('{{ asset("presentation/b2.png") }}')"></div>
                        <div class="clearer"></div>
                    </div>
                </div>
            </div>

            <div class="simple_overlay" id="mies1" style="top: 54.6px; left: 461.5px; position: fixed; display: none;"><a class="close"></a>

                <div style="text-align: center; padding-left: 100px; margin-top: 50px;">

                    <div id="slideB1" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva1.jpg); display: block;">
                    </div>

                    <div id="slideB2" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva2.jpg); display: none;">
                        <a class="diapButton" href="#slideArriba" style="position: absolute; left: 275px; top: 140px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideAbajo" style="position: absolute; right: 300px; top: 275px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideArriba" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaArriba.jpg); display: none;"></div>
                    <div id="slideAbajo" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAbajo.jpg); display: none;"></div>

                    <div id="slideB3" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva3.jpg); display: none;">
                        <a class="diapButton" href="#slideIzquierda" style="position: absolute; left: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideDerecha" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideIzquierda" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaIzquierda.jpg); display: none;"></div>
                    <div id="slideDerecha" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDerecha.jpg); display: none;"></div>

                    <div id="slideB4" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva4.jpg); display: none;">
                        <a class="diapButton" href="#slideGrande" style="position: absolute; left: 270px; top: 185px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slidePequenno" style="position: absolute; right: 290px; top: 320px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideGrande" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaGrande.jpg); display: none;"></div>
                    <div id="slidePequenno" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaPequenno.jpg); display: none;"></div>

                    <div id="slideB5" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva5.jpg); display: none;">
                        <a class="diapButton" href="#slideCerca" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideLejos" style="position: absolute; left: 172px; top: 360px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideCerca" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaCerca.jpg); display: none;"></div>
                    <div id="slideLejos" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaLejos.jpg); display: none;"></div>

                    <div id="slideB6" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva6.jpg); display: none;">
                        <a class="diapButton" href="#slideAlto" style="position: absolute; left: 330px; top: 135px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideBajo" style="position: absolute; right: 270px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideAlto" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAlto.jpg); display: none;"></div>
                    <div id="slideBajo" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaBajo.jpg); display: none;"></div>

                    <div id="slideB7" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva7.jpg); display: none;">
                        <a class="diapButton" href="#slideDelante" style="position: absolute; left: 250px; top: 245px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideAtras" style="position: absolute; right: 200px; top: 315px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideDelante" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDelante.jpg); display: none;"></div>
                    <div id="slideAtras" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAtras.jpg); display: none;"></div>

                    <div id="slideB8" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva8.jpg); display: none;">
                        <a class="diapButton" href="#slideDentro" style="position: absolute; left: 245px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideFuera" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideDentro" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDentro.jpg); display: none;"></div>
                    <div id="slideFuera" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaFuera.jpg); display: none;"></div>

                    <div id="slideB9" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva9.jpg); display: none;">
                        <a class="diapButton" href="#slideAyer" style="position: absolute; left: 315px; top: 140px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideHoy" style="position: absolute; right: 315px; top: 140px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideMannana" style="position: absolute; right: 285px; top: 315px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideAyer" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaAyer.jpg); display: none;"></div>
                    <div id="slideHoy" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaHoy.jpg); display: none;"></div>
                    <div id="slideMannana" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaMannana.jpg); display: none;"></div>

                    <div id="slideB10" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva10.jpg); display: none;">
                        <a class="diapButton" href="#slideDia" style="position: absolute; left: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                        <a class="diapButton" href="#slideNoche" style="position: absolute; right: 204px; top: 262px;"><img src="{{ asset("images/logo.png") }}" width="30" height="45"></a>
                    </div>
                    <div id="slideDia" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaDia.jpg); display: none;"></div>
                    <div id="slideNoche" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositivaNoche.jpg); display: none;"></div>

                    <div id="slideB11" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva11.jpg); display: none;">
                    </div>
                    <div id="slideB12" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva12.jpg); display: none;">
                    </div>
                    <div id="slideB13" class="presentation-slide" style="background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/2/diapositiva13.jpg); display: none;">
                    </div>

                    <div style="width: 600px; margin-top: 10px; margin-bottom: 10px;">
                        <div id="btn-next-2" style="float: left; width: 131px; height: 45px; background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/b1.png); display: block;"></div>
                        <div id="btn-before-2" style="float: right; width: 131px; height: 45px; background-image: url(http://localhost/Tecnotek_RetoAprender/web/presentation/b2.png); display: none;"></div>
                        <div class="clearer"></div>
                    </div>
                </div>
            </div>
            {% else %}
                {% if activity.type == 3 %}
                {% else %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}