<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>RetoAprender :: Administraci&oacute;n</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="{{ asset('admin/css/all.css') }}" type="text/css" media="screen"/>

    {% block extracss %}
    {% endblock %}
</head>
<body>
<style type="text/css">
    html {
        margin-top: 26px;
    }
</style>

<div class="fixed contain-to-grid">
    <nav class="top-bar">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="info" style="width: 600px;">
            <div style="float: left; width: 30px;"><img src="{{ app.request.getBaseURL() ~ "" ~ app.user.getAvatarWebPath() }}" alt="User Avatar" height="25px"></div>
            <div style="width: 150px; float: left;">Bienvenido <a alt="Ver mi cuenta" href="{{ path('reto_aprender_user') }}"><span class="username">{{ app.user.username }}</span></a></div>
        </div>

        <div style="float: right;">
            <div class="logout"><a href="{{ path("reto_aprender_logout") }}">Desconectar</a></div>
        </div>

        {% else %}
        <div style="float: right;">
            <div class="login"><a href="{{ app.request.getBaseURL() }}/login">Entrar al sistema</a></div>
        </div>
        {% endif %}
    </nav>
</div>
<div id="main">
    <div id="header">
        <ul id="top-navigation">
            <li class="active"><span><span>Administracion</span></span></li>
            <li><span><span><a href="#">Configuracion</a></span></span></li>
            <li><span><span><a href="#">Estadisticas</a></span></span></li>
            <li><span><span><a href="#">Acerca de</a></span></span></li>
        </ul>
    </div>
    <div id="middle">
        <div id="left-column">
            <h3>Recursos</h3>
            <ul class="nav">
                <li><a href="{{ path('reto_aprender_admin_topic')}}">Temas</a></li>
                <li><a href="{{ path('reto_aprender_admin_level')}}">Niveles</a></li>
                <li><a href="{{ path('reto_aprender_admin_unit')}}">Unidades</a></li>
                <li class="last"><a href="{{ path('reto_aprender_admin_activity')}}">Actividades</a></li>
            </ul>

            <h3>Usuarios</h3>
            <ul class="nav">
                <li><a href="{{ path('reto_aprender_admin_users',{'type': 'admin'} )}}">Administradores</a></li>
                <li class="last"><a href="{{ path('reto_aprender_admin_users',{'type': 'regular'} )}}">Usuarios</a></li>
            </ul>

            <h3>Otros</h3>
            <ul class="nav">
                <li class="last"><a href="{{ path('reto_aprender_admin_news')}}">Noticias</a></li>
            </ul>

            <a href="{{ path('reto_aprender_homepage') }}" class="link">Volver al sitio</a>
            <a href="{{ path('reto_aprender_user') }}" class="link">Mi cuenta</a>
        </div>

        {% block content %}

        {% endblock %}

        <div id="right-column">
            <strong class="h">INFO</strong>
            <div class="box">
                {% block info %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
<!-- jQuery - the core -->
<script src="{{ asset('js/jquery-1.3.2.min.js') }}" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

<script src="{{ asset('js/tek_reto.js') }}" type="text/javascript" charset="utf-8"></script>

<!-- HTML Editor -->
<script src="{{ asset('js/jHtmlArea-0.7.5.min.js') }}" type="text/javascript" charset="utf-8"></script>

{% block extrajs %}
{% endblock %}

</body>
</html>
